<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boboddy.vault">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.UnlockActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activities.ImagesActivity"
            android:label="@string/title_activity_images"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boboddy.vault.activities.MainActivity" />
        </activity>
        <activity android:name=".ImageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatePinActivity"
            android:label="@string/title_activity_create_pin"
            android:parentActivityName=".activities.UnlockActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boboddy.vault.activities.UnlockActivity" />
        </activity>
        <activity android:name=".activities.Camera" />
        <activity
            android:name=".ViewImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".activities.ImagesActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boboddy.vault.activities.ImagesActivity" />
        </activity>
    </application>

</manifest>